<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="BPEL Assign Generator Action Set"
            visible="true"
            id="pl.eiti.bpelag.actionSet">
         <menu
               label="BPEL"
               id="BPELMenu">
            <separator
                  name="bpelagGroup">
            </separator>
         </menu>
         <action
               label="Assign Generate"
               icon="icons/bpel-oasis.png"
               class="pl.eiti.bpelag.actions.AssignGenerateAction"
               tooltip="BPEL Assign Generate"
               menubarPath="BPELMenu/bpelagGroup"
               toolbarPath="bpelagGroup"
               id="pl.eiti.bpelag.actions.AssignGenerateAction">
         </action>
      </actionSet>
   </extension>

</plugin>
