<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="BPEL Copy Generator Action Set"
            visible="true"
            id="pl.eiti.bpelcg.actionSet">
		 <visibleWhen checkEnabled="true">
	        <with variable="activeWorkbenchWindow.activePerspective">
	        	<equals value="BPEL" />
	     	</with>
	     </visibleWhen>
         <menu
               label="BPELcg"
               id="BPELMenu">
            <separator
                  name="bpelagGroup">
            </separator>
         </menu>
         <action
               label="Copy Generate"
               icon="icons/bpel-oasis.png"
               class="pl.eiti.bpelcg.actions.CopyGenerateAction"
               tooltip="BPEL Copy Generate"
               menubarPath="BPELMenu/bpelcgGroup"
               toolbarPath="bpelcgGroup"
               id="pl.eiti.bpelag.actions.AssignGenerateAction">
         </action>
         <action
         	label="Undo"
         	icon="icons/bpel-undo.png"
         	class="pl.eiti.bpelcg.actions.UndoAction"
         	tooltip="Undo"
         	menubarPath="BPELMenu/bpelcgGroup"
         	id="pl.eiti.bpelcg.actions.UndoAction">
         </action>
      </actionSet>
   </extension>
</plugin>
